    <% layout('layouts/boilerplate') %>

    <h1>Edit <%= blog.title %> </h1>
    <form action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
        <label for="title">Title</label>
        <input type="text" name="blog[title]" id="title" value="<%= blog.title %> ">
        <br>
        <label for="content">Write below</label>
        <textarea name="blog[content]" id="content" value="<%= blog.content %>"></textarea>
        <button>Add Blog</button>
        
        <a href="/blogs">Back</a>
    </form>
