<link rel="stylesheet" href="/stylesheets/searchbar.css" />

<form class="searchbar" action="/search" method="post">
  <input class="searchInput" type="text" placeholder="Search" />
  <img class="searchIcon" src="/images/searchIcon.png" alt="search" />
</form>
