<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" href="/images/website_logo.png" type="image/x-icon">
    <title>ReadIt</title>
    
    <link rel="stylesheet" href="/stylesheets/boilerplate.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display&family=Montserrat&family=Playfair+Display&family=Roboto&family=Source+Serif+Pro&display=swap" rel="stylesheet">
</head>

<body class="if-flex">
    <!-- INCLUDING THE NAVBAR -->
    <%- include('../partials/navbar.ejs') %>
    <%- include('../partials/flash.ejs') %>
    <%-body%>
    <%- include('../partials/footer.ejs') %>

</body>
</html>