.about {

    font-size: 2rem;
    line-height: 3rem;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 5rem;

    padding: 2rem 10rem;
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #24ffa4 0%,
    #5aff4e 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}