/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color:rgb(0, 0, 0);
    color: white;
    text-decoration: none;
    overflow-x: hidden;
}
.heading {
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    padding: 10px 0px;
    display: flex;
}
.logo {
    width: 60px;
    padding: 0 20px;
}
.social_mediaIcons img{
    height: 25px;
    padding: 0px 3px;
}
.topbar {
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
button {
  font-family: 'Bitter', serif;
  font-size: 0.8rem;
  font-weight: bolder;
  border-radius: 50px;
  cursor: pointer;
  height: 42px;
  width: 113px;
}
.btn {
  background-color: #ffffff;
  margin: 3px 20px;
}
.btn:hover{
    height: 45px; 
    font-size: 0.9rem;
    box-shadow: -0.3em 0.5em 0.5em -0.4em#edf3ec;
    transform: translateY(-0.25em);
    transition: 0.25s;
    cursor: pointer;
    padding-right: 24px;
    padding-left:8px;
}
.btn:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    right: -10px;
    transition: 0.5s;
}

.btn:hover:after {
    opacity: 1;
    right: 10px;
}

.rightbar{
    display: flex;
    align-items: center;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family: 'Source Serif Pro', serif;
    font-size: 18px;
}
a{
    text-decoration: none; 
    color: rgb(216, 215, 215); 
}
.navigation a:active {
    color: white;
}
.navigation a:hover {
    color: white;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

li{
    padding: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #414141;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 9px 12px;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
    text-shadow: 2px 2px 4px #7d7c7c;
    cursor: pointer;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.frontPage {
    background-image:
    linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)) ,
    url("/images/frontPageBg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    background-repeat: no-repeat;
    margin: 0 0 50px 0;
}

.mainbox {
    padding: 0px 5rem 20px;
    background-color: white;
    color: black;
    border-radius: 30px;
    font-family: 'Alegreya', serif;
    font-size: 1.2rem;
    text-align: center;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(244, 241, 241, 0.5);
}

.btn2 {
    width: 130px;
    height: 60px;
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #ff9b45  100%);
    background-size: 200% auto;
    transition: 0.5s;
    text-align: center;
    border-color: #edf3ec;
    border-width: 3px 1px 5px;
    margin: 20px 0 5px;
}
.btn2:hover {
    background-position: right center; /* change the direction of the change here */
    font-weight: 800;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}
.mainbox a{
    color: black;
    transition: color .2s ease-in-out;
}
.mainbox a:hover{
    color: #F09819;
    text-shadow: 2px 2px 6px #F09819;
}

.mainbox img {
    position: relative;
    top:10px;
}

/* font-family: 'Abril Fatface', cursive;
font-family: 'Alegreya', serif;
font-family: 'Source Serif Pro', serif; */