.contact {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to top, rgba(169, 208, 113, 0), rgba(136, 173, 215, 1));
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 45rem;
    height: 50rem;
    border-radius: 8px;
    padding: 10px 20px;
}

.contact h1 {
    font-size: 4.25rem;
    margin-bottom: 30px;
    margin-top: -15px;
    text-transform: uppercase;
}

.contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;

    font-size: 2rem;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

.input input {
    padding: 10px 15px;
    width: 90%;
    border-radius: 4px;
    outline: none;
    border: none;
}

.input textarea {
    resize: none;
    padding: 10px 15px;
    width: 90%;
    border-radius: 4px;
    outline: none;
    border: none;
}