.footerHeading {
    font-size: 1.65rem;
    font-weight: 600;
    padding-bottom:10px;
    text-decoration: underline;
}

.footer {
    background-color: black;
    font-size: 1.45rem;
    line-height: 1.5rem;

    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin-top: 50px !important;
}



.footer li a {
    font-family: 'Source Serif Pro', serif;
    line-height: 2rem;
}

.footer a:hover, .footer a:active {
    text-shadow: 2px 2px 5px #f2e7e7;
    color: var(--white);

}

.dropdown-content {
    display: none
}
