/* making the body a flexbox */
.if-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    width: 30rem;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(107, 121, 121);
    font-size: 2rem;
    border-radius: 4.5px;
    padding: 0 64px 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.form .heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    letter-spacing: 5px;
    text-shadow: 2px 2px 1px rgb(14, 14, 14);
    text-align: center;
}

.inputVal input, .inputVal label, p, a {
    font-family: 'Source Serif Pro', serif;

}
.inputVal input {
    width: 100%;
    padding: 12px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    background-color: #f8f8f8;
    resize: none;

    font-family: 'Source Serif Pro', serif;
    margin: 2rem 0;
  }

.form a {
    text-decoration: underline;
}
.form a:hover {
    text-shadow: 2px 1px 2px var(--primary-btn);
}
