form {
    padding: 0 4rem;
}

.form h1 {
    font-size: 5rem;
    font-family: 'Cambo', serif;
    margin: 2rem;
    padding-bottom: 24px;
    text-align: center;
}
input {
    font-family: 'Cambo', serif;
    font-size: 3rem;
    padding: 8px;
    color: white;
    width: 98%;
    margin: 1rem 1rem 2rem 0;
    border: unset;
    border-radius: 4px;    
    background-color: var(--bg-color);           
}


textarea {
    width: 100%;
    height: 100vh;
}