<% layout('layouts/boilerplate')  %>
<link rel="stylesheet" href="/stylesheets/about.css">

<div class="about">
    <h2 class="animate-charcter">Welcome To ReadIt !</h2>
    <p>ReadIt is a Blogging Platform. Here we will provide you 
       only interesting content, which you will like very much. 
       We're dedicated to providing you the best posts, with a 
       focus on dependability. We're working to turn our passion 
       for blogging into a booming. We hope you enjoy reading as 
       much as we enjoy offering them to you.</p>
       <p>
        All the information on this website - www.readit.com - is 
        published in good faith and for general information purpose 
        only. ReadIt does not make any warranties about the completeness, 
        reliability and accuracy of this information. From our website, 
        you can visit other websites by following hyperlinks to such external 
        sites. While we strive to provide only quality links to useful and 
        ethical websites, we have no control over the content and nature of these 
        sites.
       </p>
        <p>
        I will keep posting more important posts on my Website for 
       all of you. Please give your support and love.</p>
    <p class="animate-charcter">Thanks For Visiting Our Site!</p>
</div>