<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/about.css" />

<div class="about">
  <h2 class="animate-charcter">Welcome To ReadIt !</h2>
  <p>
    ReadIt is a blogging platform designed to provide a platform for users to
    share and discover engaging content on a wide range of topics. With its
    intuitive user interface and powerful features, ReadIt aims to create a
    vibrant community where individuals can express their thoughts, learn from
    others, and foster meaningful discussions.
  </p>
  <p>
    All the information on this website - www.readit-um3r.onrender.com - is
    published in good faith and for general information purpose only. ReadIt
    does not make any warranties about the completeness, reliability and
    accuracy of this information. From our website, you can visit other websites
    by following hyperlinks to such external sites. While we strive to provide
    only quality links to useful and ethical websites, we have no control over
    the content and nature of these sites.
  </p>
  <p>
    I will keep posting more important posts on my Website for all of you.
    Please give your support and love.
  </p>
  <p class="animate-charcter">Thanks For Visiting Our Site!</p>
</div>
